@use '../../styles/abstracts/variables' as *;

.form-container {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $background-light;

  form {
    padding: 1rem;
    background-color: $highlight-background;
    border: 1px solid $background-light;
    border-radius: 1rem;
  }

  label {
    width: fit-content;
    color: $background-light;
    display: block;
    margin: 0.5rem 0 0.5rem 0;
    border-bottom: 2px solid $highlight-bottom-border;
  }

  input {
    @include input-field(
      #d1d1d1,
      $background-light-highlight,
      $highlight-bottom-border,
      #181818
    );
    border-radius: 1rem;
  }

  a {
    display: block;
    color: $background-light;
    text-decoration: none;

    &:hover {
      color: $highlight-bottom-border;
    }
  }
  .helper-links > a {
    margin-top: 1rem;
  }
}

.form-buttons {
  @include flexContainer(column, center, center);
  margin-top: 1rem;
  a {
    @include buttons(
      $background-light,
      $background-dark,
      $background-light,
      $background-dark,
      $highlight-bottom-border,
      $background-dark
    );
    width: 100%;
    text-decoration: none;
  }
  .action-buttons {
    @include flexContainer(row, center, center);
    width: 100%;
  }
}
.login-type {
  @include flexContainer(row, center, center);
  width: 100%;
}

.login-form {
  @include flexContainer(column, center, center);

  & img {
    height: 10rem;
    border-radius: 2rem 2rem 0 0;
  }
}
