@use '../../styles/variables' as *;

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  z-index: 100;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);

  ul {
    color: $primary-font-color;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: larger;
  }
  li,
  img {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50px;
    border-radius: 10px;
    border: 2px solid $primary-font-color;
  }
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .brand-text {
    color: $primary-font-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: $primary-font-color;
  }
  li {
    padding: 15px;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $highlight-bottom-border;
      background-color: $highlight-background;
      border-radius: 50%;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
    }
  }
}
