@use '../../styles/variables' as *;

.navbar {
  top: 40;
  transition: top 0.1s ease-in-out;
}

.navbar.scrolled {
  top: 0;
  opacity: 0.5;
}

nav {
  background-color: $background-dark;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  @include box-shadow(5px, 5px, 5px, 0px, rgba(0, 0, 0, 0.55));

  ul {
    color: $primary-font-color;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: larger;
    span {
      margin-left: 5px;

      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }
    }
  }
  li,
  img {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 60px;
    border-radius: 10px;
    border: 2px solid $primary-font-color;
  }
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .brand-text {
    color: $primary-font-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: $primary-font-color;
  }
  li {
    padding: 15px;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $background-light;
      background-color: $highlight-background;
      border-bottom: 2px solid $highlight-bottom-border;
      border-radius: 60px;
      transition: border-bottom 0.4s ease-in-out;
    }
  }
}
