@use '../../styles/abstracts/variables' as *;

.adPage {
  max-width: 700px;
  color: $background-light;
  background-color: $background-dark;
  margin-top: 10rem;
  border-radius: 20px;
}

.adContent {
  @include flexContainer(row, center, center);
}

.adCarousel {
  @include flexContainer(row, center, center);
}

.adText {
  margin: 0 15px 0 15px;

  h1 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }
}
