@use '../../styles/variables' as *;

.top-banner {
  color: $background-light;
  background-color: $highlight-background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li {
      color: $primary-font-color;
      padding: 10px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-font-color;
        text-decoration: none;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}
