@use '../../styles/variables' as *;

.product-container {
  @include flexContainer(column, center, center);
  color: $primary-font-color;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;

  h1 {
    color: $background-light;
    margin: 15px;
    border-bottom: 2px solid $highlight-bottom-border;
  }
}

.product-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  width: 70%;
  margin-left: 150px;
  margin-top: 15px;
}
