@mixin box-shadow($x, $y, $blur, $spread, $c) {
  -webkit-box-shadow: $x $y $blur $spread $c;
  -moz-box-shadow: $x $y $blur $spread $c;
  -ms-box-shadow: $x $y $blur $spread $c;
  box-shadow: $x $y $blur $spread $c;
}

@mixin buttons(
  $primary-color,
  $background-color,
  $border-color,
  $hover-primary-color,
  $hover-background-color,
  $hover-border-color
) {
  @include flexContainer(row, center, center);
  color: $primary-color;
  text-transform: uppercase;
  background-color: $background-color;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid $border-color;
  border-radius: 30px;

  &:hover {
    color: $hover-primary-color;
    background-color: $hover-background-color;
    border: 1px solid $hover-border-color;
    transition: all 0.3s ease-in-out;
  }
}

@mixin input-field($color, $border-color, $outline-color, $background-color) {
  font-size: large;
  color: $color;
  width: 300px;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 20px 0px 0px 20px;
  outline-color: $outline-color;
  background-color: $background-color;
}

@mixin flexContainer($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-variant(
  $color,
  $background,
  $border,
  $hover-color,
  $hover-background,
  $hover-border
) {
  color: $color;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  background-color: $background;
  padding: 15px;
  margin: 2px;
  border: 1px solid $border;
  border-radius: 30px;

  &:hover {
    color: $hover-color;
    background-color: $hover-background;
    border: 1px solid $hover-border;
    transition: all 0.3s ease-in-out;
  }
}
