@use '../../styles/abstracts/variables' as *;

.product-card {
  @include flexContainer(column, space-between, center);
  background-color: $background-dark;
  backdrop-filter: blur(10px);
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
  border-bottom: 2px solid $primary-font-color;
  padding: 10px;

  &:hover {
    background-color: $highlight-background;
    border-bottom: 2px solid $highlight-bottom-border;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    @include box-shadow(5px, 5px, 5px, 0px, hsla(0, 0%, 0%, 0.55));

    h3 {
      color: white;
    }
  }

  h1 {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: smaller;
    text-transform: capitalize;
    color: $background-light;
    background-color: $highlight-dark;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid $primary-font-color;
    z-index: 10;
  }

  h3 {
    font-size: larger;
    font-weight: 300;
    margin: 10px;
    text-align: center;
  }

  p {
    color: $highlight-bottom-border;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 5px;
    margin-top: 20px;
    + div {
      color: hsl(0, 96%, 63%);
    }
  }
}

.product-image__container {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-image {
  width: 100%;
  object-fit: cover;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    scale: 115%;
    transition: scale 0.4s ease-in-out;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-price {
  text-decoration: line-through;
}

.option-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-bottom {
  width: 100%;
}

.ribbon-sale {
  @include flexContainer(row, center, center);
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  width: 120px;
  height: 30px;
  background-color: hsl(0, 96%, 63%);
  transform: rotate(45deg);
  position: absolute;
  right: -30px;
  top: 16px;
  z-index: 100;
}
