@use '../../styles/variables' as *;

.product-card {
  background-color: #202020;
  backdrop-filter: blur(10px);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
  overflow: hidden;
  border-bottom: 2px solid $primary-font-color;
  padding: 10px;

  &:hover {
    background-color: $highlight-background;
    border-bottom: 2px solid $highlight-bottom-border;
    cursor: pointer;
  }

  h1 {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: smaller;
    text-transform: capitalize;
    color: $background-color-light;
    background-color: $highlight-dark;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid $primary-font-color;
  }

  h3 {
    font-size: normal;
    font-weight: lighter;
    margin: 10px;
    text-align: center;
  }

  p {
    color: $highlight-bottom-border;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 5px;
    margin-top: 20px;
  }
}

.product-image {
  width: 80%;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  &:hover {
    scale: 115%;
    transition: ease-in-out 200ms;
    z-index: -10;
  }
}
