$font-stack: 'Roboto', Helvetica, sans-serif;
$background-light: #fff;
$background-light-highlight: #a4a4a4;
$background-dark: #202020;
$primary-font-color: #d0d0d0;
$highlight-background: #404040;
$highlight-bottom-border: #00d0ff;
$highlight-dark: #101010;

$layout-breakpoint-small: 970px;

@mixin box-shadow($x, $y, $blur, $spread, $c) {
  -webkit-box-shadow: $x $y $blur $spread $c;
  -moz-box-shadow: $x $y $blur $spread $c;
  -ms-box-shadow: $x $y $blur $spread $c;
  box-shadow: $x $y $blur $spread $c;
}

@mixin buttons(
  $primary-color,
  $background-color,
  $border-color,
  $hover-primary-color,
  $hover-background-color,
  $hover-border-color
) {
  color: $primary-color;
  text-transform: uppercase;
  background-color: $background-color;
  padding: 15px;
  margin: 2px;
  border: 1px solid $border-color;
  border-radius: 30px;

  &:hover {
    color: $hover-primary-color;
    background-color: $hover-background-color;
    border: 1px solid $hover-border-color;
    transition: all 0.3s ease-in-out;
  }
}
