@use '../../styles/variables' as *;

.search-form {
  @include flexContainer(row, center, center);
  min-width: 100%;
  input {
    @include input-field(
      #d1d1d1,
      $background-light-highlight,
      $highlight-bottom-border,
      #181818
    );
  }
  .search-button {
    display: flex;
    font-size: large;
    width: fit-content;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid $primary-font-color;
    span {
      margin-left: 5px;
    }
    &:hover {
      color: $background-dark;
      background-color: $highlight-bottom-border;
      border: 2px solid $highlight-bottom-border;
    }
  }
}
