@use '../../styles/variables' as *;

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  input {
    font-size: large;
    color: #d1d1d1;
    width: 300px;
    padding: 10px;
    border: 1px solid $background-light-highlight;
    border-radius: 20px 0px 0px 20px;
    outline-color: $highlight-bottom-border;
    background-color: #181818;
  }
  button {
    display: flex;
    font-size: large;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid $primary-font-color;
    span {
      margin-left: 5px;
    }
    &:hover {
      color: $background-light;
      background-color: $background-light-highlight;
      border: 2px solid $highlight-bottom-border;
    }
  }
}
