@use '../../styles/variables' as *;

.navbar {
  top: 40;
  transition: top 0.1s ease-in-out;
}

.navbar.scrolled {
  top: 0;
  opacity: 0.5;
}

nav {
  background-color: $background-dark;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  @include box-shadow(5px, 5px, 5px, 0px, rgba(0, 0, 0, 0.55));

  ul {
    @include flexContainer(row, center, center);
    color: $primary-font-color;
    list-style: none;
    font-size: larger;

    a {
      @include flexContainer(row, center, center);
      text-decoration: none;
      color: $background-light-highlight;
      padding: 5px;
      border-bottom: 2px solid transparent;
      &:hover {
        color: $background-light;
        background-color: $highlight-background;
        border-bottom: 2px solid $highlight-bottom-border;
        transition: border-bottom 0.4s ease-in-out;
      }
      @media (max-width: $layout-breakpoint-small) {
        display: none;
        a: svg {
          display: flex;
        }
      }
    }
    a:last-child {
      margin-right: 20px;
    }
  }

  li,
  img {
    @include flexContainer(row, center, center);
    margin: 10px;
  }

  img {
    width: 60px;
    border-radius: 10px;
    border: 2px solid $primary-font-color;
  }

  .brand {
    @include flexContainer(row, center, center);
    cursor: pointer;
  }

  .brand-text {
    color: $primary-font-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }

  svg {
    margin: 5px;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
  }
}
