@use '../../styles/variables' as *;

.footer-container {
  @include flexContainer(row, center, start);
  color: $primary-font-color;
  background-color: $highlight-background;
  gap: 50px;

  li {
    list-style: none;
    margin: 5px 0 5px 0;
  }

  a {
    color: $primary-font-color;
    text-decoration: none;
    &:hover {
      color: $highlight-bottom-border;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  li {
    display: flex;
    align-items: center;

    a {
      margin-left: 5px;
    }
  }
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
