@use '../../styles/variables' as *;

.footer-container {
  color: $background-light;
  background-color: $highlight-background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: 50px;

  li {
    list-style: none;
    margin: 5px;
  }

  a {
    color: $primary-font-color;
    text-decoration: none;
  }
}
