@use './styles/variables' as *;
@use '../src/components/SearchBar/SearchBar.module.scss';
@use '../src/components/ProductList/ProductList.module.scss';
@use '../src/components/ProductCard/ProductCard.module.scss';
@use '../src/components/TopNavbar/TopNavbar.module.scss';
@use '../src/components/SideNavbar/SideNavbar.module.scss';
@use '../src/components/StarRating/StarRating.module.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 100% $font-stack;
  background: #252525;
}
