@use '../../styles/variables' as *;

.chat-container {
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  border: 2px solid $background-light;
  padding: 1rem;
  border-radius: 50%;
  background-color: $background-dark;
  transition: all 0.3s linear;

  &:hover {
    background-color: $highlight-bottom-border;
    transform: translateY(-0.5rem);
    transition: all 0.3s linear;
  }
}
